doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- meta(http-equiv='Content-Security-Policy', content="default-src 'self'")
		//- meta(name='application-name', content='Application Name')
		//- meta(name='description', content='A description of the page')
		//- meta(name='robots', content='index,follow,noodp')
		//- meta(name='googlebot', content='index,follow')
		//- meta(name='google-site-verification', content='verification_token')
		//- meta(name='subject', content="your website's subject")
		//- meta(name='url', content='https://example.com/')
		//- meta(name='directory', content='submission')
		//- meta(name='rating', content='General')

		// FAVICONS
		//- link(rel='icon', href='path/to/favicon-16.png', sizes='16x16', type='image/png')
		//- link(rel='icon', href='path/to/favicon-32.png', sizes='32x32', type='image/png')
		//- link(rel='icon', href='path/to/favicon-48.png', sizes='48x48', type='image/png')
		//- link(rel='icon', href='path/to/favicon-62.png', sizes='62x62', type='image/png')
		//- link(rel='icon', href='path/to/favicon-192.png', sizes='192x192', type='image/png')

		// SOCIAL
		//- meta(property='fb:app_id', content='123456789')
		//- meta(property='og:url', content='https://example.com/page.html')
		//- meta(property='og:type', content='website')
		//- meta(property='og:title', content='Content Title')
		//- meta(property='og:image', content='https://example.com/image.jpg')
		//- meta(property='og:description', content='Description Here')
		//- meta(property='og:site_name', content='Site Name')
		//- meta(property='og:locale', content='en_US')
		//- meta(property='article:author', content='')
		//- meta(name='twitter:card', content='summary')
		//- meta(name='twitter:site', content='@site_account')
		//- meta(name='twitter:creator', content='@individual_account')
		//- meta(name='twitter:url', content='https://example.com/page.html')
		//- meta(name='twitter:title', content='Content Title')
		//- meta(name='twitter:description', content='Content description less than 200 characters')
		//- meta(name='twitter:image', content='https://example.com/image.jpg')
		//- link(href='https://plus.google.com/+YourPage', rel='publisher')
		//- meta(itemprop='name', content='Content Title')
		//- meta(itemprop='description', content='Content description less than 200 characters')
		//- meta(itemprop='image', content='https://example.com/image.jpg')

		// APPLE
		//- meta(name='apple-mobile-web-app-title', content='My App')
		//- meta(name='apple-mobile-web-app-capable', content='yes')
		//- meta(name='apple-touch-fullscreen', content='yes')
		//- meta(name='apple-mobile-web-app-status-bar-style', content='black')
		//- meta(name='format-detection', content='telephone=no')
		//- meta(name='viewport', content='width=device-width; content=', width='320;', initial-scale='1.0;', maximum-scale='1.0;', user-scalable='yes;', target-densitydpi="160dpi'")
		//- link(href='/apple-touch-icon.png', rel='apple-touch-icon', type='image/png')
		//- link(href='touch-icon-ipad.png', rel='apple-touch-icon', sizes='72x72')
		//- link(href='touch-icon-iphone4.png', rel='apple-touch-icon', sizes='114x114')
		//- link(href='/startup.png', rel='apple-touch-startup-image')
		//- link(href='http://github.com/images/touch-icon-iphone4.png', sizes='114x114', rel='apple-touch-icon-precomposed')
		//- link(href='http://github.com/images/touch-icon-ipad.png', sizes='72x72', rel='apple-touch-icon-precomposed')
		//- link(href='http://github.com/images/apple-touch-icon-57x57.png', sizes='57x57', rel='apple-touch-icon-precomposed')
		//- link(href='https://plus.google.com/+YourPage', rel='publisher')
		//- meta(name='apple-itunes-app', content='app-id=APP_ID,affiliate-data=AFFILIATE_ID,app-argument=SOME_TEXT')
		//- meta(name='apple-mobile-web-app-capable', content='yes')
		//- meta(name='apple-mobile-web-app-status-bar-style', content='black')
		//- meta(name='apple-mobile-web-app-title', content='App Title')
		//- link(rel='apple-touch-icon', href='path/to/apple-touch-icon.png')
		//- link(rel='apple-touch-icon-precomposed', href='path/to/apple-touch-icon-precomposed.png')
		//- link(rel='apple-touch-startup-image', href='path/to/startup.png')
		//- link(rel='mask-icon', href='path/to/icon.svg', color='red')

		// GOOGLE
		//- meta(name='theme-color', content='#E64545')
		//- meta(name='mobile-web-app-capable', content='yes')
		//- link(rel='chrome-webstore-item', href='https://chrome.google.com/webstore/detail/APP_ID')

		// MICROSOFT
		//- meta(http-equiv='x-ua-compatible', content='ie=edge')
		//- meta(http-equiv='cleartype', content='on')
		//- meta(name='skype_toolbar', content='skype_toolbar_parser_compatible')
		//- meta(name='msapplication-tap-highlight', content='no')
		//- meta(name='application-name', content='Contoso Pinned Site Caption')
		//- meta(name='msapplication-tooltip', content='Example Tooltip Text')
		//- meta(name='msapplication-starturl', content='/')
		//- meta(name='msapplication-config', content='http://example.com/browserconfig.xml')
		//- meta(name='msapplication-allowDomainApiCalls', content='true')
		//- meta(name='msapplication-allowDomainMetaTags', content='true')
		//- meta(name='msapplication-badge', content='frequency=30; polling-uri=http://example.com/id45453245/polling.xml')
		//- meta(name='msapplication-navbutton-color', content='#FF3300')
		//- meta(name='msapplication-notification', content='frequency=60;polling-uri=http://example.com/livetile')
		//- meta(name='msapplication-square150x150logo', content='path/to/logo.png')
		//- meta(name='msapplication-square310x310logo', content='path/to/largelogo.png')
		//- meta(name='msapplication-square70x70logo', content='path/to/tinylogo.png')
		//- meta(name='msapplication-wide310x150logo', content='path/to/widelogo.png')
		//- meta(name='msapplication-task', content='name=Check Order Status;action-uri=./orderStatus.aspx?src=IE9;icon-uri=./favicon.ico')
		//- meta(name='msapplication-task-seperator', content='1')
		//- meta(name='msapplication-TileColor', content='#FF3300')
		//- meta(name='msapplication-TileImage', content='path/to/tileimage.jpg')
		//- meta(name='msapplication-window', content='width=1024;height=768')

		title
		link(rel='stylesheet', href='/css/style.css')
		script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase.js')
		script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js')
		script(src='/js/vendor.min.js')
		script(src='/js/app.js')
	body(page="home")
		main