/*-----------------------------------------------------*\

	*Filename:		base.scss
	*Description: 	contains the baselines specifically
					for the project
	*Version:		1.0.0(2015-03-10)
	*Website:		http://schonne.com
	*Author:		Schonne Eldridge

 ===TABLE OF CONTENTS:===================================

	$_FONTS					dynamic fonts
	$_PROJECT BASELINE		baselines for the project suc

\*------------------------------------------------------*/



/*-----------------------------------*\
		$_FONTS
\*-----------------------------------*/



/*-----------------------------------*\
		$_PROJECT BASELINE
\*-----------------------------------*/

//body
body, html, main {
	height: 100%;
}


// a

// buttons

// forms